@if (!(isHandset$ | async)) {
  <aside class="permanent-sidenav" role="navigation" aria-label="Permanent navigation">
    <nav class="permanent-icons">
      <button mat-icon-button aria-label="home" (click)="openFromAside(drawer)"><mat-icon>home</mat-icon></button>
      <button mat-icon-button aria-label="members" (click)="openFromAside(drawer)"><mat-icon>person_outline</mat-icon></button>
      <button mat-icon-button aria-label="loans" (click)="openFromAside(drawer)"><mat-icon>local_library</mat-icon></button>
      <button mat-icon-button aria-label="librarians" (click)="openFromAside(drawer)"><mat-icon>account_box</mat-icon></button>
      <button mat-icon-button aria-label="logout" (click)="openFromAside(drawer)"><mat-icon>exit_to_app</mat-icon></button>
    </nav>
  </aside>
}

<mat-sidenav-container class="msc-container">

  <mat-sidenav #drawer mode="over"  class="overlay-drawer" fixedInViewport>
    <div class="icon-wraper">
    <mat-nav-list>
      <a mat-list-item href="#"><mat-icon>home</mat-icon><span>خانه</span></a>
      <a mat-list-item href="#"><mat-icon>person_outline</mat-icon><span>اعضا</span></a>
      <a mat-list-item href="#"><mat-icon>local_library</mat-icon><span>امانات</span></a>
      <a mat-list-item href="#"><mat-icon>account_box</mat-icon><span>کتابدارن</span></a>
      <a mat-list-item href="#"><mat-icon>exit_to_app</mat-icon><span>خروج</span></a>
    </mat-nav-list>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="topbar">
      <button mat-icon-button (click)="toggle(drawer)" aria-label="menu"><mat-icon>menu</mat-icon></button>
      <span class="app-title">سامانه کتابداری کهن</span>
      <span class="spacer"></span>


    </mat-toolbar>
         <app-book></app-book>

  </mat-sidenav-content>
</mat-sidenav-container>