table {
  width: 100%;
}

.detail-row {
  height: 0 !important;  
}

.row {
  cursor: pointer;
  &:not(.expanded-row):hover { background: whitesmoke; }
  &:not(.expanded-row):active { background: #efefef; }
}

.row td {
  border-bottom-width: 0;
}

.detail-wrapper {
  overflow: hidden;
  display: grid;
  grid-template-rows: 0fr;
  grid-template-columns: 100%;
  transition: grid-template-rows 225ms cubic-bezier(0.4, 0, 0.2, 1);
}

.detail-wrapper.expanded {
  grid-template-rows: 1fr;
}

.detail-text {
  padding: 16px;
  text-align: right;
  color: #333;
}

.detail-pre {
  padding: 12px;
  margin: 8px;
  background: #f7f7f7;
  border-radius: 4px;
  text-align: right;
}

button.mat-icon-button {
  transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1);
}

button.mat-icon-button.expanded {
  transform: rotate(180deg);
}